<!-- Slider main container -->
<div class="swiper main-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="slide-content">
                <h2>Слайд 1</h2>
                <p>Описание первого интересного слайда</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <h2>Слайд 2</h2>
                <p>Описание второго интересного слайда</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-content">
                <h2>Слайд 3</h2>
                <p>Описание третьего интересного слайда</p>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
